<article class='markdown-body'>
  <span class="date-wrapper">
    {% include date.html date = include.post.date %}
  </span>
  <h1 class="">
    <a href="{{ site.baseurl }}{{ include.post.url }}">{{ include.post.title }}</a>
  </h1>
  <div class="indent-1">
    {% if include.excerpt == "home_page" %}
      {{ include.post.excerpt }}
      <p><a href="{{ site.baseurl }}{{ post.url }}">繼續閱讀 ......</a></p>
    {% else %}
      {{ include.post.content }}
    {% endif %}
  </div>
</article>

<hr/>
<div class="indent-2">
  <!-- google plus share button-->
  <span class="g-plus" data-action="share" data-height="24" data-href="{{ site.baseurl }}{{ include.post.url }}"></span>
</div>
<hr/>
