<article class='markdown-body'>
  <span class="date-wrapper">
    {% include date.html date = include.post.date %}
  </span>
  <h1 class="">
    <a href="{{ site.baseurl }}{{ include.post.url }}">{{ include.post.title }}</a>
  </h1>
  <div class="indent-1">
    {{ include.post.content }}
  </div>
</article>

<hr/>
<div class="indent-2">
  <!-- google plus share button-->
  <span class="g-plus" data-action="share" data-height="24" data-href="{{ site.domain }}{{ site.baseurl }}{{ include.post.url }}"></span>
</div>
<hr/>
