<div class="profile-body">
  <div class="profile-image">
    <img class="profile-avatar" src="{{ site.baseurl }}/images/profile.jpg" alt="{{ site.name }}" title="{{ site.name }}"/>
  </div>
  <div class="profile-content">
    <div class="profile-name">阿棨 Akiicat</div>
    <a href="//plus.google.com/u/0/+%E6%A3%A8%E9%98%BF%E7%AC%A8%E6%A3%A8">
      <img class="share-image" src="{{ site.baseurl }}/images/svg/google-plus.svg" alt="google plus icon" title="google plus"/>
    </a>
    <a href="//github.com/akiicat">
      <img class="share-image" src="{{ site.baseurl }}/images/svg/mark-github.svg" alt="github icon" title="github"/>
    </a>
    <a href="//www.plurk.com/aaaa1379">
      <img class="share-image" src="{{ site.baseurl }}/images/svg/plurk-black.svg" alt="plurk icon" title="plurk"/>
    </a>
  </div>
</div>

<ul class="filter-list">
  {% for category in site.categories %}
    <span class="collapsible-group closed">
      <li class="collapsible-header">
        <a href="" class="filter-item">
          <span class="count">{{ category[1].size }}</span>
          <span class="indent-0">{{ category | first }}</span>
        </a>
      </li>
      {% for posts in category %}
        {% for post in posts %}
          {% if post.url %}
            <li class="collapsible-body">
              <a href="{{ site.baseurl }}{{ post.url }}" class="filter-item">
                <span class="count"></span>
                <span class="indent-1">{{ post.title }}</span>
              </a>
            </li>
          {% endif %}
        {% endfor %}
      {% endfor %}
    </span>
  {% endfor %}
</ul>
