---
# Only the main Sass file needs front matter (the dashes are enough)
---
// @charset "utf-8";
//
// // Our variables
// $base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
// $base-font-size:   16px;
// $base-font-weight: 400;
// $small-font-size:  $base-font-size * 0.875;
// $base-line-height: 1.5;
//
// $spacing-unit:     30px;
//
// $text-color:       #111;
// $background-color: #fdfdfd;
// $brand-color:      #2a7ae2;
//
// $grey-color:       #828282;
// $grey-color-light: lighten($grey-color, 40%);
// $grey-color-dark:  darken($grey-color, 25%);
//
// // Width of the content area
// $content-width:    800px;
//
// $on-palm:          600px;
// $on-laptop:        800px;

// Minima also includes a mixin for defining media queries.
// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }

// Import partials from the `minima` theme.
// @import "minima";
@import "variables";

a {
  color: $link-text;
  &:hover {
    color: $link-hover;
    text-decoration: none;
  }
}

header {
  margin: 0px 0px 18px 0px;
  a {
    color: $link-text;
    &:hover {
      text-decoration: none;
    }
  }
  .titlewrapper {
    padding: 62px 0px 18px 0px;
    h1 {
      font-weight: normal;
      font-size: 40px;
    }
  }
  .descriptionwrapper {
    font-size: 18px;
  }
}

// date time header block in each post
.date-wrapper {
  float: right;
  padding-top: 2.25em;
}
.date-header {
  font: normal bold 11px Arial, Tahoma, Helvetica, FreeSans, sans-serif;
  background-color: #bbbbbb;
  color: #ffffff;
  padding: 0.4em;
  letter-spacing: 3px;
  margin: inherit;
}


// right bar collapsible css
.collapsible-group {
  .collapsible-header {
    font-weight: bold;
  }
  &.closed {
    .collapsible-body {
      display: none;
    }
  }
}

// right bar padding left in each level
@for $i from 0 through 4 {
  .indent-#{$i} {
    padding-left: #{ $i * $grid-gutter};
  }
}

// right bar profile
.profile-body {
  margin: 0px 0px 44px 0px;
  .profile-image {
    .profile-avatar {
      width: 100px;
      height: 100px;
      box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.2), 0px 6px 15px 0 rgba(0, 0, 0, 0.15);
    }
    float: left;
  }
  .profile-content {
    margin: 0px 0px 0px 122px;
    .profile-name {
      font-weight: bold;
      padding: 15px 0px;
    }
  }
}

// right bar profile button images
.share-image {
  width: 32px;
  height: 32px;
  margin-right: 12px;
}

// github primer add element
.filter-list {
  clear: both;
}
